
html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header, h1 {
  margin-bottom: 1px;
  font-size: 30px;
}

header, p {
  margin-bottom: 35px;
  font-size: 10px;
}

.container {
  background-image: url(./1000_2048x2048_allipadwallpapers_com.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  width: 400px ;
  margin: auto;
}

.container .gradient {
  background-color: rgba(255, 255, 255, .5 );
  padding: 40px;
  margin: auto;
  border-radius: 15px;
}


label {
  display: block;
}


.container .header {
  text-align: right;
  
}

.container .nameinput {
  background-color: #F66700;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  margin: 10px 0 10px 0 ;
}

.container .emailinput {
  background-color: #00B7E6;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  margin: 10px 0 10px 0 ;
}

.container .ageinput {
  background-color: #81CC00;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  margin: 10px 0 10px 0 ;
}


label {
  display: block;
}

input[type=submit] {
  padding:10px 50px; 
  margin: 30px 75px 50px 75px;
  background:#ffffff; 
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
}

input[type=text],
input[type=email],
input[type=number] {
  width: 100%;
  border-radius: 5px;
  border: #ffffff solid;

}