* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.section1 {
    width: 100%;
    background-image: url(img/laptop.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    background-color: rgba(10, 120, 100, 0.8);
    width: 100%;
    height: 100%;
}

.container {
    width: 1024px;
    display: table;
    margin: 0 auto;
    padding: 3rem 0;
}

header.container {
    padding-bottom: 0;
}

p,
li {
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* Sectiune 1 */

.col1 h1 {
    color: yellow;
}

.col1 h2 {
    color: yellow;
}

.col1 li {
    list-style: none;
    margin-top: 2rem;
    color: white;
}

.col1 li img {
    vertical-align: middle;
}

.col1 {
    float: left;
}

.col1 ul {
    float: left;
    margin-right: 3rem;
}

.col2 {
    float: right;
    text-align: right;
    color: white;
}

.col2 span {
    font-size: 10rem;
    line-height: 9rem;
}

.getStarted {
    border: 0 none;
    outline: none;
    cursor: pointer;
    background-color: yellow;
    color: rgba(10, 120, 100, 0.8);
    padding: 1rem 2rem;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}

.getStarted:hover {
    background-color: red;
    color: white;
    box-shadow: none;
}

/* Sectiune 1 */

/* Sectiune 2 */

.section2 {
    background-color: #d1d1d1;
}

/* box1 */
.box1 {
    width: 31.5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    float: left;
    margin-right: 20px;
}

.box1:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.box1 div:first-child {
    background-color: yellow;
    padding: 2rem;
}

.box1 div:last-child {
    background-color: white;
    padding: 2rem;
}

.box1 li {
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: grey;
}

.section2 .getStarted {
    background-color: rgba(10, 120, 100, 0.8);
    color: white;
    width: 100%;
    font-size: 1.5rem;
}

.section2 .getStarted:hover {
    background-color: rgb(10, 120, 100);
    color: white;
    width: 100%;
}

.box1 p {
    color: rgb(10, 120, 100);
}

.box1 span {
    font-size: 6rem;
}

/* box1 */

/* box2 */
.section2 div.box1:nth-child(2) div:first-of-type {
    background-color: rgb(10, 120, 100);
}

.section2 div.box1:nth-child(2) div:first-of-type h2 {
    color: white;
}

.section2 div.box1:nth-child(2) div:first-of-type p {
    color: white;
}

.section2 div.box1:nth-child(2) div:first-of-type span {
    color: yellow;
}

/* box2 */

.section2 div.box1:last-child {
    margin-right: 0;
}


/* box3 */
.section2 div.box1:nth-child(3) div:first-of-type {
    background-color: red;
}

.section2 div.box1:nth-child(3) div:first-of-type h2 {
    color: white;
}

.section2 div.box1:nth-child(3) div:first-of-type p {
    color: white;
}

.section2 div.box1:nth-child(3) div:first-of-type span {
    color: yellow;
}

/* box3 */


.section2 .ppl img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    margin-right: 20px;
    float: left;
}

.section2 .weare h2 {
    font-size: 4rem;
    line-height: 5rem;
}

.section2 .weare p {
    font-size: 2rem;
    color: #5e5e5e;
}

/* Sectiune 2 */

/* Sectiunea 3 */

.section3 .payment img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    margin-left: 20px;
    float: right;
}

.section3 .getquick h2 {
    font-size: 3rem;
    line-height: 5rem;
}

.section3 .getquick p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #5e5e5e;
}

.section3 .learn {
    text-align: center;
    border: 0 none;
    outline: none;
    cursor: pointer;
    background-color: rgb(10, 120, 100);
    color:white;
    padding: 2rem 4rem;
    border-radius: 3px;
    display: inline-block;
    box-shadow:5px 5px 5px 0 rgba(0,0,0,.29);
    margin-top: 4rem;
}

.section3 .learn:hover {
    background-color:rgb(2, 63, 49);
    color: white;
    box-shadow: none;
}

/* Sectiunea 3 */

/* Sectiune 4 */

.section4 {
    background-color: #d1d1d1;
}

.section4 .services1 {
    float: left;
    width: 50%;
}

.section4 .services1 .img img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    margin-left: 20px;
    float: left;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.29);
    margin-right: 20px;
}

.section4 .services1 .text h2 {
    font-size: 3rem;
    color: rgb(2, 63, 49);
}

.section4 .services1 .text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #5e5e5e;
    margin-bottom: 50px;
}

.section4 .services2 {
    float: left;
    width: 50%;
}

.section4 .services2 .img img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    float: left;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.29);
    margin-right: 40px;
}

.section4 .services2 .text h2 {
    font-size: 3rem;
    color: rgb(2, 63, 49);
    
}

.section4 .services2 .text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #5e5e5e;
    margin-bottom: 50px;
}
/* Sectiune 4 */

/* Sectiune 5 */

.section5 {
    background-color: #009587;
}

.section5 .person1 {
    float: left;
    width: 25%;
}

.section5 .person1 img {
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.29);
}

.section5 .person1 h2 {
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 3.5rem;
}

.section5 .person1 p {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #feea3a;
    margin-top: 3.6rem;
}

.section5 .person2 {
    float: left;
    width: 25%;
    margin-left: 13rem;
}

.section5 .person2 img {
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.29);
}

.section5 .person2 h2 {
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 3.5rem;
}

.section5 .person2 p {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #feea3a;
    margin-top: 3.6rem;
}

.section5 .person3 {
    float: right;
    width: 25%;
}

.section5 .person3 img {
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.29);
}

.section5 .person3 h2 {
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 3.5rem;
}

.section5 .person3 p {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #feea3a;
    margin-top: 3.6rem;
}

/* Sectiune 5 */

/* Sectiune 6 */

/* Sectiune 6 */

/* Sectiune 7 */

.section7 {
    background-color: #FEEA3A;
    margin: 0 auto;
}

.section7 h2{
    font-size: 4rem;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .section7 p{
    font-size: 1.3rem;
    float: left;
    margin-top: 4rem;
    color: #009587;
    line-height: 2rem;
  }
  
  .section7 form {
    float: left;
    display: inline-block;
  }
  
  .section7 input[type="email"]{
    border-radius: 5px;
    border: none;
    padding: 2rem 20rem; 
    outline: none;
    margin: 0 auto;
  }

  .section7 .subs {
    text-align: center;
    border: 0 none;
    outline: none;
    cursor: pointer;
    background-color: rgb(10, 120, 100);
    color:white;
    padding: 2rem 4rem;
    border-radius: 3px;
    display: inline-block;
    box-shadow:5px 5px 5px 0 rgba(0,0,0,.29);
    margin-top: 4rem;
}

.section7 .subs:hover {
    background-color:rgb(2, 63, 49);
    color: white;
    box-shadow: none;
}

/* Sectiune 7 */

/* Footer */

footer {
    background-color: #009587;
}

footer .footer-cols {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 1.4rem;
  }
  
  footer .footer-cols ul {
    list-style: none;
  }
  
  footer .footer-cols ul li a {
      color: yellow;
      text-decoration: none;
      font-size: 1.5rem;
  }

  footer .footer-cols ul li a:hover {
    text-decoration: underline;
}

  footer .footer-cols ul li:first-child {
    color: white;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  footer .footer-cols ul:last-child li img {
      vertical-align: middle;
  }

  footer .footer-cols ul:last-child li:first-child {
      color: white;
      font-size: 2rem;
  }

  footer .footer-cols ul:last-child li {
    color: yellow;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer .footer-cols ul:last-child li:last-child {
    color: white;
    font-size: 1.2rem;

}


  /* footer */


