@media screen and (max-width:1200px) {
    .container {
        width: calc(100% - 100px);
    }
    html {
        font-size: 8px;
    }
}

@media screen and (max-width:832px) {
    html {
        font-size: 8px;
    }
    .col1 {
        float: none;
    }
    .col2 {
        float: none;
        text-align: left;
        clear: both;
        padding-top: 2rem;
    }
    .box1 {
        float: none;
        width: 70%;
        display: table;
        margin: 2rem auto;
    }
    .section2 div.box1:last-child {
        margin: 2rem auto;
    }
    .section2 li {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (max-width:550px) {
    .container {
        width: calc(100% - 50px);
    }
    .box1 {
        width: 90%;
    }
}