/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.container {
    display: table;
    margin: 0 auto;
    width: 1024px;
}

.sectiune1 {
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.9836309523809523) 0%, rgba(7,81,224,1) 100%, rgba(255,255,255,0) 100%);
}

.logo {
    background-image: url(/images/logo.png);
    top: 10px;
    float: left;
    width: 200px;
    
}

nav {
    background-color: grey;
}

nav ul {
    list-style: none;
    text-align: center;
    display: inline-block;
}


