
#outer div ul .nav a {
    background-color: blue;
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  #outer #inner a{
    background-color: initial;
    color: red;
  }
  
  div div li a {
    color: yellow;
  }

  